footer {
    font-family: Arial, serif;
    display: grid;
    grid-template-columns: auto 1fr;
    justify-items: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    padding: 30px;
    color: white;
    margin-top: auto;
    gap: 20px;
}

footer p {
    font-size: 1.1em;
    margin: 0;
}

.linkdn {
    width: 40px;
    height: 40px;
    border-radius: 5px;
    transition: transform 0.2s;
}

.linkdn:hover {
    transform: scale(1.1);
}